* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 600px;
  /* width: 600px;  */
  margin: 16px auto;
  padding: 20px;
  
  border-radius: 5px;
}
@media ( max-width = 600px){
  .container{
      width: 96vw;
      margin: auto;
      padding: 20px;
  }

}



.progress-bar {
  display: flex;
  justify-content: space-between;
}
.step {
  width: 20px;
  height: 20px;
  background-color: #194f26;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  color: #12bbd4;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.step.active:after {
  opacity: 1;
}
.form-step {
  display: none;
}
.form-step-active {
  display: block;
}
button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #000000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

form {
  background: #eda735;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 25px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  text-align: left;
}

input, textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border: 1px solid grey;
  border-radius: 25px;
  margin-bottom: 12px;
  font-size: 14px;
  margin: auto;
}




label {
  display: block;
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 16px;

}

.colorComb {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.colorComb label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.colorComb input {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.colorComb h3 {
  font-size: 16px;
  margin-bottom: 10px;
  width: 150px;
}

.colorComb input:checked {
  border: 3px solid #000;
}

.cbxtags label {
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

.cbxtags label {
  padding: 8px 12px;
  cursor: pointer;
}

.cbxtags label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "+";
  transition: transform .3s ease-in-out;
}

input[type = "checkbox"] {
  width: fit-content !important;
}

.cbxtags input[type="checkbox"]:checked + label::before {
  content: none;
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

.cbxtags input[type="checkbox"]:checked + label {
  border: 2px solid #1bdbf8;
  background-color: #12bbd4;
  scale: 0.9;
  color: #fff;
  transition: all .2s;
}

.cbxtags input[type="checkbox"] {
  display: absolute;
}

.cbxtags input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.cbxtags input[type="checkbox"]:focus + label {
  border: 2px solid #fff;
}

label img {
  width: 450px;
  border-radius: 16px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 600px) {
  label img {
    width: 70vw;
  }
}

.cbxtags{
  text-align: center;
  background-color: #eda735;
  border: none;
  border-radius: 10px;
}

.cbxtags ul
{
list-style: none;
padding: 20px;
}

.cbxtags li{
  display: inline-block;
  margin: 5px;
}

.cbxtags li label{
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

.cbxtags li label{
  padding: 8px 12px;
   cursor: pointer;
}

.cbxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "+";
  transition: transform .3s ease-in-out;
}

.cbxtags li input[type="checkbox"]:checked + label::before {
  content: none;
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

.cbxtags li input[type="checkbox"]:checked + label {
  border: 2px solid #1bdbf8;
  background-color: #12bbd4;
  color: #fff;
  transition: all .2s;
}


.cbxtags li input[type="checkbox"] {
  display: absolute;
}

.cbxtags li input[type="checkbox"] {
  display: absolute;
}

.cbxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #e9a1ff;
}

/* range input */
.range-container {
  text-align: center;
  background-color: #eda735;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="range"] {
  width: 100%;
  margin: 10px 0;
  background: #4caf50;
}
.value-display {
  margin-top: 10px;
  font-size: 1.2em;
}
.range-labels {
  display: flex;
  justify-content: space-between;
}

.currency-input {
  position: relative;
}

.currency-input input {
  padding-left: 25px; /* Adjust this value based on the width of the currency symbol */
}

.currency-input:before {
  content: '₹';
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}