/* Author:WebThemez
 * Author URI:http://webthemez.com
 * License: Creative Commons Attribution 3.0 License (https://creativecommons.org/licenses/by/3.0/)
 */
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,700);
 @import url(http://fonts.googleapis.com/css?family=Raleway:700,400,300);
 body {
   font-family: 'Open Sans', sans-serif;
 }
 .brand {
   font-family: 'Raleway', sans-serif;
 }
 html,
 body {
   height: 100%;
 }
 body {
   font-size: 15px;
   line-height: 1.50;
   color: #333333;
   padding: 10px;
   background-color: #d7d1c5;
   position: relative;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   color: #000;
 }
 h1 {
   font-size: 38px;
   font-weight: 700;
   margin-bottom: 20px;
 }
 h2 {
   font-size: 28px;
   margin-bottom: 15px;
 }
 h3 {
   font-size: 22px;
 }
 h4 {
   font-size: 18px;
   font-weight: 700;
 }
 h5 {
   font-size: 16px;
   text-transform: uppercase;
   font-weight: 700;
 }
 h6 {
   font-weight: 700;
 }
 h1 span,
 h2 span,
 h3 span,
 h4 span {
   color: #DB0A61;
 }
 .colored {
   color: #DB0A61;
 }
 a {
   color: #55acee;
 }
 a:hover {
   color: #339BEB;
 }
 a:focus,
 a:active {
   outline: none;
 }
 .large {
   font-size: 18px;
 }
 img {
   display: block;
   max-width: 100%;
   height: auto;
 }
 .list-unstyled li {
   padding: 5px 0;
 }
 .list-horizontal {
   padding: 15px 0;
 }
 .list-horizontal-item img {
   display: block;
   margin: 0 auto;
 }
 .list-icons {
   padding: 0;
   margin: 20px 0;
   list-style: none;
   font-size: 18px;
 }
 .list-icons li {
   padding: 0 0 15px 0;
 }
 blockquote {
   border-left: none;
   padding-left: 0;
   padding-right: 0;
 }
 .title {
   margin-top: 0;
 }
 
 /* Layout
 ----------------------------------------------------------------------------- */
 .header {
   color: #ffffff;
   background-color: #eda735;
   padding: 10px 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
 }
 
 
 /* Navigations
 ----------------------------------------------------------------------------- */
 .header .navbar {
   margin-bottom: 0;
 }
 .main-navigation .navbar-default {
   background-color: transparent;
   border: none;
 }
 .main-navigation .navbar-default .navbar-nav > li > a {
   color: #fff;
   padding: 10px 20px;
   font-size: 18px;
   font-weight: 400;
 }
 .main-navigation .navbar-default .navbar-nav > li.active > a {
   background-color: transparent;
   color: #DB0A61;
 }
 .main-navigation .navbar-default .navbar-nav > li > a:hover,
 .main-navigation .navbar-default .navbar-nav > li.active > a:hover {
   color: aquamarine;
 }
 
 
 @media (min-width:768px) {
   .main-navigation .navbar-default .navbar-nav > li > a {
     padding-top: 30px;
     padding-bottom: 30px;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
   }
 }
 @media (min-width:768px) and (max-width:991px) {
   .main-navigation .container-fluid {
     padding-left: 0;
     padding-right: 0;
   }
   .navbar-nav {
     float: left !important;
   }
 }
 @media (max-width:767px) {
   .header.navbar-fixed-top {
     position: absolute;
   }
 }
 
 /* Fixed Header
 ----------------------------------------------------------------------------- */
 .fixed-header-on .header {
   background-color: #eda735;
   padding: 5px 0;
 }
 .fixed-header-on .brand {
   font-size: 24px;
 }
 .fixed-header-on .logo {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
   margin-top: 0;
   margin-bottom: 0;
 }
 @media (min-width:768px) {
   .fixed-header-on .navbar-default .navbar-nav > li > a {
     padding-top: 20px;
     padding-bottom: 20px;
   }
 }
 @media (max-width:991px) {
   .fixed-header-on .logo,
   .fixed-header-on .brand,
   .fixed-header-on .site-slogan {
     display: none;
   }
 }
 
 /* Blocks/Widgets
 ----------------------------------------------------------------------------- */
 /* Logo, Site Name, Site Slogan
 ---------------------------------- */
 .logo {
   margin: 10px 0px 10px 0;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
 }
 .logo,
 .logo-section {
   float: left;
 }
 #logo {
	width: 180px;
}
 .brand {
   font-size: 38px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   padding: 10px 0;
 }
 .brand a {
   color: #ffffff;
 }
 .brand a:hover {
   text-decoration: none;
 }
 .site-slogan {
   font-size: 12px;
 }
 
.pricingform{
  background-color: #eda735;
  color: #000;
  margin-top: 120px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 50px;
  padding: 20px;
}
   
   .cbxtags{
     text-align: center;
     background-color: #eda735;
     border: none;
     border-radius: 10px;
   }
   .cbxtags ul
   {
     list-style: none;
     padding: 20px;
   }
   
   .cbxtags li{
      display: inline;
   }
   
   .cbxtags li label{
     display: inline-block;
       background-color: rgba(255, 255, 255, .9);
       border: 2px solid rgba(139, 139, 139, .3);
       color: #adadad;
       border-radius: 25px;
       white-space: nowrap;
       margin: 3px 0px;
       -webkit-touch-callout: none;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
       -webkit-tap-highlight-color: transparent;
       transition: all .2s;
   }
   
   .cbxtags li label{
      padding: 8px 12px;
       cursor: pointer;
   }
   
   .cbxtags li label::before {
       display: inline-block;
       font-style: normal;
       font-variant: normal;
       text-rendering: auto;
       -webkit-font-smoothing: antialiased;
       font-family: "Font Awesome 5 Free";
       font-weight: 900;
       font-size: 12px;
       padding: 2px 6px 2px 2px;
       content: "+";
       transition: transform .3s ease-in-out;
   }
   
   
   .cbxtags li input[type="checkbox"]:checked + label::before {
       content: none;
       transform: rotate(-360deg);
       transition: transform .3s ease-in-out;
   }
   
   .cbxtags li input[type="checkbox"]:checked + label {
       border: 2px solid #1bdbf8;
       background-color: #12bbd4;
       color: #fff;
       transition: all .2s;
   }
   
   .cbxtags li input[type="checkbox"] {
     display: absolute;
   }
   .cbxtags li input[type="checkbox"] {
     position: absolute;
     opacity: 0;
   }
   .cbxtags li input[type="checkbox"]:focus + label {
     border: 2px solid #e9a1ff;
   }
   
   
   .title{
     display: block;
     margin-left: auto;
     margin-right: auto;
   }
  
   
   h2{
       font-weight: 500;
       font-size: 40px;
       color: black;
       margin-bottom: 5px;
   }
   
.contact_input{
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    margin-top: 20px;
    text-align: justify;
    padding-left: 25px;
    font-weight: 500 ;
    color: #333333;
    border-radius: 50px;
}

.contact_right textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact_input:focus{
    border: 2px solid aquamarine;
}

.contact_input::placeholder{
  display: block;
  padding: 10px;
  min-width: 80%;
  width: 80%;
  text-align: justify;
  color: #eda735;
}

.consec{
  display: flex;
  text-align: justify;
  align-items: center;
  justify-content: space-evenly;
}

.contact-left{
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 48%;
  width: 48%;
}

.contact-right{
  position: absolute;
  min-width: 90%;
  margin-top: 50px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.contact_left_title h2{
font-weight: 500;
font-size: 40px;
color: black;
margin-bottom: 5px;
}

.contact_left_title hr{
border: none;
width: 120px;
height: 4px;
margin-left: 10px;
background-color: black;
border-radius: 10px;
margin-bottom: 20px;

}

.contact_right button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  margin-top: 20px;
  border-radius: 50px;
  background: black;
  cursor: pointer;
  width: fit-content;
}
 
   @media (max-width:800px) {
   .contact_input{
     width: 80vw;
     align-items: justify;
   }
   .contact-right{
         display: none;
     }
 
 } 
 
 /* footer
 -------------------------------------------------------------------- */
 
 .tcppylist{
     list-style: none;
     text-align: center;
     padding: 0px;
 }
 
 .tcppylist li{
     display: inline;
     margin: 10px;
     
 }

 .tcppylist li:hover{
	font-weight: 600;
	color: aqua;
}
 
 .termncon{
     margin-top: 50px;
 }
 
 .subfooter {
   background-color: #eda735;
   padding: 40px 0;
   margin-top: 20px;
   border-radius: 20px;
 }
 .subfooter a {
 color: #000;
 }
 
 
 /* Social Links
 ---------------------------------- */
 .social-links {
   padding: 0;
   list-style: none;
   text-align: center;
   margin: 15px 0;
 }
 .social-links li {
   margin: 10px 10px 10px 0;
   display: inline-block;
   font-size: 36px;
 }
 .social-links li a {
   color: #000000;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   border: 1px solid #d7d1c5;
   width: 52px;
   height: 52px;
   display: inline-block;
   
   border-radius: 50%;
   font-size: 26px;
   text-align: center;
   padding: 4px;
 }
 .social-links li.twitter a:hover {
   color: #000000;
   background-color: #fff;
   border: 1px solid #000000;
 }
 .social-links li.pinterest a:hover {
   color: #cb2027;
   background-color: #fff;
   border: 1px solid #cb2027;
 }
 .social-links li.linkedin a:hover {
   color: #0976b4;
   background-color: #fff;
   border: 1px solid #0976b4;
 }
 .social-links li.instagram a:hover {
   color: #dd3993;
   background-color: #fff;
   border: 1px solid #dd3993;
 }
 .social-links li.YouTube a:hover {
   color: #b31217;
   background-color: #fff;
   border: 1px solid #b31217;
 }
 .social-links li.flickr a:hover {
   color: #ff0084;
   background-color: #fff;
 }
 .social-links li.facebook a:hover {
   color: #3b5998;
   background-color: #fff;
   border: 1px solid #3b5998;
 }
 .social-links li.pinterest a:hover {
   color: #cb2027;
   background-color: #fff;
 }
 
 #subform{
	position: relative;
	width: 90%;

	display: inline-block;
}

#subform h3{
	margin-left: 6%;
}

#subform input{
	padding-right: 20px;
	margin-top: 5px;
	margin-left: 20px;
	border-radius: 30px;
	padding-left: 20px;
}

#subform button{
	position: absolute;
	padding: 15px, 5px;
	top: 10px;
	/* width: 40%; */
	height: 36px;
	right: 7px;
	font-size: 12px;
	border: none;
	background-color: #eda735;
	margin: 3px;
	border-radius: 20px;

	cursor: pointer;
}


.contact_input1{
	width: 95%;
	height: 50px;
	border: none;
	outline: none;
	margin-top: 20px;
	text-align: justify;
	padding-left: 25px;
	font-weight: 500 ;
	color: #d7d1c5;
	border-radius: 50px;
}