*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #d7d1c5;
    text-align: center;
}
.thumbnail {
    width: 40vw;
    /* height: 100px; */
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
}

h1 {
    background-color: #eda735;
    margin: 1rem auto;
    gap: 8px;
    min-width: 48%;
    padding: 1rem;
    margin: 0 auto;
    background-color: #eda735;
    width: 48%;
    border-radius: 25px;
}

.form-step {
    display: none;
}
.form-step.active {
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    padding-top: 60px;
}

.popup input {
    margin: auto;
    display: block;
    max-height: 70vh;
    width: 90vw;
    max-width: 700px;
}

.popup img {
    margin: auto;
    display: block;
    max-height: 50vh;
    /* width: 90vw; */
    max-width: 700px;
}
.popup .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #eda735;
    background: transparent;
    border: 1px solid #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.popup .close:hover,
.popup .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.popup button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #eda735;
    color: black;
    border-radius: 25px;
}

.contactInput{
    width: 80%;
    height: 50px!important;
    border: none;
    background-color: #d7d1c5;
    margin: 2px auto !important;
    outline: none;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-left: 25px;
    font-weight: 500 ;
    color: #333333;
    border-radius: 50px;
    font-size: 24px;
}

.contact_input:focus{
    border: 2px solid grey;
}

.contact_input::placeholder{
  display: block;
  padding: 10px;
  min-width: 80%;
  width: 80%;
  text-align: justify;
  color: #eda735!important;

}

label{
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    background-color: #eda735;

}

.contactLeft{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    gap: 8px;
    min-width: 48%;
    padding: 1rem;
    margin: 0 auto;
    background-color: #eda735;
    width: 48%;
    border-radius: 25px;
}

@media  (max-width : 768px) {
    .contactLeft {
        width: 90%;
        margin: 0 auto;
    }
    h1 {
        width: 90%;
        margin: 8px auto;
    }

}

@media (min-width:768px) and (max-width:991px) {
    .contactLeft {
      padding-left: 0;
      padding-right: 0;
      width: 90%;
    }
    h1 {
        font-size: 24px;
        width: 90%;
        margin: 1rem auto;
        padding: 1rem;
    }
}

@media (min-width : 991px) {
    .popup input{
        height: 85vh;
        width: auto;
        
    }
    .contactLeft {
        width: 70%;
    }
    h1 {
        width: 70%;
        margin: 1rem auto;
    }
}

form {

    margin: 0;
    padding: 2%;
}

#dropdown {
    text-align: center;
    align-content: center;
    
    width: 80%;
    max-width: 768px;
    margin: 4px auto;
    height: 50px;
    font-size: 24px;
    margin-left: 8%;
    margin-right: 8%;  
    background-color: grey;
    color: black;
    border-radius: 16px;
}

.selectDiv {
    margin: 20px auto;
  background-color: #eda735;
  border-radius: 16px;
  padding: 12px;
  justify-content: space-evenly;
}

.submitButton {
    border-radius: 16px;
}