@import url('https://fonts.googleapis.com/css?family=Montserrat');



:root {
  --marquee1-width: 100vw;
  --marquee1-height: 20vh;
  /* --marquee1-elements: 12; */ /* defined with JavaScript */
  --marquee1-elements-displayed: 5;
  --marquee1-element-width: calc(var(--marquee1-width) / var(--marquee1-elements-displayed));
  --marquee1-animation-duration: calc(var(--marquee1-elements) * 3s);
}

.marquee1 {
  width: var(--marquee1-width);
  height: var(--marquee1-height);
  /* background-color: #d7d1c5; */
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee1:before, .marquee1:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee1:before {
  left: 0;
  background: linear-gradient(to right, #d7d1c5 0%, transparent 100%);
}
.marquee1:after {
  right: 0;
  background: linear-gradient(to left, #d7d1c5 0%, transparent 100%);
}
.marquee1-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling1 var(--marquee1-animation-duration) linear infinite;
}
.marquee1-content:hover {
  animation-play-state: paused;
}
@keyframes scrolling1 {
  1000% { transform: translateX(0); }
  0% { transform: translateX(calc(-1 * var(--marquee1-element-width) * var(--marquee1-elements))); }
}
.marquee1-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee1-element-width);
  max-height: 90%;
  font-size: calc(var(--marquee1-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee1-content li img {
  /* width: 80%; */
  height: 100%;
  border: none;
  padding: 5px;
  /* margin: 5px 25px; */
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee1-width: 100vw;
    --marquee1-height: 16vh;
    --marquee1-elements-displayed: 3;
  }
  .marquee1:before, .marquee1:after { width: 5rem; }
}